body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #8BBA3B;
  --secondary: #00ace0;
  --light: #fff;
  --dark: black;
}

.flex{
  display: flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}